// SCREEN SIZES
$mobileScreen: 200px;
$tabletScreen: 600px;
$desktopScreen: 1000px;

// COLORS
$defaultColor : #FF4800;
$darkOrange   : #9D3514;
$white        : #FFFFFF;
$gray         : #898989;
$gainsBoro    : #F2F2F4;
$darkGray     : #1F1F2E;